@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@600;700&display=swap");
/*| colors |*/
/*| fonts |*/
/* breakpoint */
/*| type |*/
h1, h2, h3 {
    font-family: "Open Sans", sams-serif;
}
h2 {
    font-size: 26px;
    text-transform: capitalize;
}
p {
    line-height: 1.3;
    font-size: 18px;
}
/*| link |*/
a {
    text-decoration: none;
}
.btn {
    display: inline-block;
    padding: 11px 36px;
    border-radius: 5px;
    /*box-shadow: 0 6px 15px -6px rgba(20,31,100,0.5);*/
    text-transform: uppercase;
    font-size: 16px;
    font-family: "Open Sans", sams-serif;
    letter-spacing: 1px;
    transition: all 0.6s ease;
    border: 2px solid;
}
*, *:after, *:before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: "Lato", sams-serif;
    font-size: 16px;
    color: #101129;
    line-height: 1.5;
    background: #f2f2fa;
}
main {
    width: 100%;
    padding: 60px 10px;
    /*|  |*/
    /*| CARD PROFILE 01 |*/
    /*| END CARD PROFILE 01 |*/
    /*| CARD PROFILE 02 |*/
    /*| END CARD PROFILE 02 |*/
    /*| CARD PROFILE 03 |*/
    /*| END CARD PROFILE 03 |*/
}
@media (min-width: 768px) {
    main {
        width: 768px;
        margin: 0 auto;
    }
}
main .card-01, main .card-02, main .card-03 {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    background: #fff;
    border-radius: 5px;
}
main .cat {
    overflow: hidden;
    height: 130px;
    width: 130px;
    border-radius: 50%;
}
main img {
    object-fit: cover;
    height: auto;
}
main .card-01 {
    width: 416px;
    margin: 0 auto;
}
main .card-01 .header {
    width: 416px;
    height: 200px;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
main .card-01 .header img {
    width: 480px;
    transform: translateY(-60px);
}
main .card-01 .card-bottom {
    transform: translateY(-75px);
}
main .card-01 .card-bottom .cat {
    margin: 0 auto;
    border: 7px solid white;
}
main .card-01 .card-bottom .cat img {
    width: 160px;
    height: auto;
    transform: translateX(-20px);
}
main .card-01 .card-bottom .card-body {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 33px 46px 0px 46px;
}
main .card-01 .card-bottom .card-body .card-text {
    text-align: center;
}
main .card-01 .card-bottom .card-body .card-text p {
    margin-top: 17px;
    margin-bottom: 35px;
}
main .card-01 .card-bottom .card-body .card-text a.btn {
    background: #141f64;
    border-color: #141f64;
    color: #fff;
}
main .card-01 .card-bottom .card-body .card-text a.btn:hover {
    background: #fff;
    color: #141f64;
}
main .card-02 {
    width: 416px;
    margin: 60px auto;
    padding: 26px 46px 16px 46px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-item: center;
}
main .card-02 .cat {
    margin: 0 auto 20px auto;
}
main .card-02 .cat img {
    width: 200px;
    transform: translateY(-30px);
}
main .card-02 .card-body .card-text {
    text-align: center;
}
main .card-02 .card-body .card-text p {
    margin-top: 8px;
    margin-bottom: 30px;
}
main .card-02 .card-body .card-text a.btn {
    background: #fff;
    border-color: #98b6cc;
    color: #141f64;
    font-weight: bold;
}
main .card-02 .card-body .card-text a.btn:hover {
    background: #141f64;
    color: #fff;
    border-color: #141f64;
}
@media (min-width: 768px) {
    main .card-02 {
        width: 641px;
        flex-direction: row;
        justify-content: flex-start;
        padding: 60px 164px 60px 60px;
    }
    main .card-02 .cat {
        width: 30%;
        margin: 0;
    }
    main .card-02 .card-body {
        width: 60%;
        padding-left: 30px;
    }
    main .card-02 .card-body .card-text {
        text-align: left;
    }
    main .card-02 .card-body .card-text h2 {
        line-height: 1;
    }
    main .card-02 .card-body .card-text p {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}
main .card-03 {
    width: 416px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main .card-03 .cat {
    margin-bottom: 20px;
}
main .card-03 .cat img {
    width: 160px;
    transform: translateY(-50px);
}
main .card-03 .card-text {
    text-align: center;
}
main .card-03 .card-text span {
    display: inline-block;
    margin: 34px 0px 30px 0;
}
main .card-03 .card-text span i {
    margin-right: 5px;
}
main .card-03 .card-text span i.fa-link {
    margin-left: 20px;
}
main .card-03 .card-text span a {
    color: #000;
}
main .card-03 a.btn {
    background: #141f64;
    border-color: #141f64;
    color: #fff;
}
main .card-03 a.btn:hover {
    background: #fff;
    color: #141f64;
}
@media (min-width: 768px) {
    main .card-03 {
        width: 771px;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 58px 30px 42px 48px;
    }
    main .card-03 .cat {
        margin-bottom: 0;
    }
    main .card-03 .card-text {
        text-align: left;
    }
    main .card-03 .card-text span {
        margin-bottom: 0;
    }
    main .card-03 .link {
        align-self: flex-start;
        transform: translateY(-30px);
    }
}